{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="{% static 'jssource.js' %}"></script>

<header class="header">
    <!--UPPER BAR-->
    <div class="social-call">
        <div class="social">
            <a href="https://www.facebook.com/mohd.sanu1"><i class="fab fa-facebook"></i></a>
            <a href="youtube.com/DjNaddy"><i class="fab fa-youtube"></i></a>
            <a href="instagram.com/mohammad_sanu"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/Mohammadsanu_"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="phone">
            <span>Call +98 912 453 9005</span>
        </div>
    </div>
    <!--END OF UPPER BAR-->
    <div class="container">
        <div class="row v-center">
            <div class="header-item item-left">
                <div class="logo"><a href="#">JALAL SHOP</a></div>
            </div>
            <div class="header-item item-center">
                <div class="menu-overlay"></div>
                <nav class="menu">
                    <div class="mobile-menu-head">
                        <div class="go-back"><i class="fas fa-angle-left"></i></div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="menu-main">
                        <li>
                            <a href="#">Pricing</a>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">Shop <i class="fas fa-angle-down"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item text-center">
                                    <a href="#">
                                        <img class="show-img"
                                             src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase1.png"
                                             alt="">
                                        <h2 class="title">Poster</h2>
                                    </a>
                                </div>

                                <div class="list-item text-center">
                                    <a href="#">
                                        <img class="show-img"
                                             src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase2.png"
                                             alt="">
                                        <h2 class="title">Photoshop</h2>
                                    </a>
                                </div>

                                <div class="list-item text-center">
                                    <a href="#">
                                        <img class="show-img"
                                             src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase3.png"
                                             alt="">
                                        <h2 class="title">Design</h2>
                                    </a>
                                </div>

                                <div class="list-item text-center">
                                    <a href="#">
                                        <img class="show-img"
                                             src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase4.png"
                                             alt="">
                                        <h2 class="title">Social Media</h2>
                                    </a>
                                </div>

                                <div class="list-item text-center">
                                    <a href="#">
                                        <img class="show-img"
                                             src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase7.png"
                                             alt="">
                                        <h2 class="title">Logo Design</h2>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item-has-children">
                            <!--SALE LABEL-->
                            <div class="sale-design">
                                <span class="sale-label">Sale</span>
                            </div>

                            <a href="#">Products <i class="fas fa-angle-down"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <h2 class="title">SEO</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>

                                    <h2 class="title">Fashion</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <h2 class="title">Photoshop</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>

                                    <h2 class="title">Social Media</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <h2 class="title">Web Design</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>
                                    <h2 class="title">Graphic Design</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>
                                </div>

                                <div class="list-item">
                                    <h2 class="title">UI/Ux</h2>
                                    <ul>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                        <li><a href="#">Mohammad Sanu</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="https://raw.githubusercontent.com/Mohammadsanu/hosted-assets/main/showcase5.png"
                                         alt="">
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#">Support</a>
                        </li>

                        <li>
                            <a href="#">Discover</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-item item-right">
                <a href="#" class="search">
                    <i class="fas fa-search"></i>
                </a>
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                </a>
                <a href="#"><i class="fas fa-shopping-cart">

                    <!--NUMBER OF PRODUCTS IN CART-->
                    <span class="num-cart-product">0</span>
                </i>
                </a>


                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--SEARCH-->
<div class="search-bar">
    <div class="search-input">
        <input type="text" placeholder="Search For Product">
        <a href="#" class="search-cancel">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
<!--END OF SEARCH-->

<!--LOGIN & SIGN UP FORM-->
<div class="form">
    <div class="login-form">
        <!--CANCEL FORM BTN-->
        <a href="#  " class="form-cancel">
            <i class="fas fa-times"></i>
        </a>

        <strong>Log In</strong>
        <form action="#">
            <input type="email" placeholder="Exemple@gmail.com" name="email">
            <input type="password" placeholder="Password" name="password">

            <input type="submit" value="Log In">
        </form>

        <!--FORGET & SIGN UP BUTTON-->
        <div class="form-btns">
            <a href="#" class="forget">Forget Your Password?</a>
            <a href="#" class="sign-up-btn">Create Account</a>
        </div>
        <!--END OF FORGET & SIGN UP-->
    </div>

    <div class="sign-up-form">
        <!--CANCEL FORM BTN-->
        <a href="#" class="form-cancel">
            <i class="fas fa-times"></i>
        </a>

        <strong>Sign Up</strong>
        <form action="#">
            <input type="text" placeholder="Full Name" name="fullname">
            <input type="email" placeholder="Exemple@gmail.com" name="email">
            <input type="password" placeholder="Password" name="password">

            <input type="submit" value="Sign up">
        </form>

        <!--FORGET & SIGN UP BUTTON-->
        <div class="form-btns">
            <a href="#" class="already-account">Already Have Account?</a>
        </div>
        <!--END OF FORGET & SIGN UP-->
    </div>
</div>
<!--END OF LOGIN & SIGN UP FORM-->
<script>
// Search BUtton

       $(document).on('click', '.search', function(){
           $('.search-bar').addClass('search-bar-active')
       });

       $(document).on('click', '.search-cancel', function(){
           $('.search-bar').removeClass('search-bar-active')
       });

       //LOGIN SIGN UP FORM

       $(document).on('click', '.user, .already-account', function(){
           $('.form').addClass('login-active').removeClass('sign-up-active')
       });


       $(document).on('click', '.sign-up-btn', function(){
           $('.form').addClass('sign-up-active').removeClass('login-active')
       });


       $(document).on('click', '.form-cancel', function(){
           $('.form').removeClass('login-active').removeClass('sign-up-active')
       });
</script>