{#{% extends 'costumer/dashboard.html' %}#}
{% load static %}

{% block extra_head %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'dashboard/table/images/icons/favicon.ico ' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/css/main.css' %}">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {% for item in items %}
    <div>
{#    {{ item.id }}#}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="User">Phone</label>
                <input type="text" class="form-control border" disabled id="User" value="{{ item.user.phone }}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputFname">First Name</label>
                <input type="text" class="form-control border" id="inputFname" value="{{ item.fist_name }}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputLname">Last name</label>
                <input type="text" class="form-control border" id="inputLname" value="{{ item.last_name }}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAge">Age</label>
                <input type="number" class="form-control border" id="inputAge">
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="edit_profile" akbar="{{ item.id }}">Edit</button>
    </div>
    {% endfor %}



{% endblock %}

<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'dashboard/table/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    }


    $('#edit_profile').on('click', function () {
        let item_id = $(this).attr('akbar')
        let first_name = $('#inputFname').val()
        let last_name = $('#inputLname').val()
        {#let main_st = $('#inputStreet1').val()#}
        {#let auxiliary_st = $('#inputStreet2').val()#}
        {#let alley = $('#inputAlley').val()#}
        {#let no = $('#inputNo').val()#}
        let cook = getCookie('csrftoken')
        var JsonData = {
            'fist_name': first_name,
            'last_name': last_name,
        }
        $.ajax({
            url: '{% url 'edit_profile' 0 %}'.replace('0',item_id),
            type: 'PATCH',
            data: JsonData,
            headers: {
                "X-CSRFToken": cook,
            },
            success: function (response) {
                {#console.log(response)#}
                Swal.fire(
                    'Good job!',
                    'You added a new address!',
                    'success'
                )
                $('#inputFname').value(first_name)
                $('#inputLname').value(last_name)
            },
            error: function (error) {
                {#console.log(error)#}
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
            }
        })
    })





</script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/js/main.js' %}"></script>