{#{% extends 'costumer/dashboard.html' %}#}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'dashboard/table/images/icons/favicon.ico ' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'dashboard/table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/table/css/main.css' %}">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    <style>

        @font-face {
            font-family: Vazir;
            font-style: normal;
            font-weight: normal;
            src: url({% static 'fonts/Vazir.eot'%});
            src: url({% static 'fonts/Vazir.eot?#iefix'%}) format('embedded-opentype'),
            url({% static 'fonts/Vazir.woff2'%}) format('woff2'),
            url({% static 'fonts/Vazir.woff'%}) format('woff'),
            url({% static 'fonts/Vazir.ttf'%}) format('truetype');
        }

        @font-face {
            font-family: Vazir;
            font-style: normal;
            font-weight: bold;
            src: url({% static 'fonts/Vazir-Bold.eot'%});
            src: url({% static 'fonts/Vazir-Bold.eot?#iefix'%}) format('embedded-opentype'),
            url({% static 'fonts/Vazir-Bold.woff2'%}) format('woff2'),
            url({% static 'fonts/Vazir-Bold.woff'%}) format('woff'),
            url({% static 'fonts/Vazir-Bold.ttf'%}) format('truetype');
        }

        * {
            font-family: 'Vazir', Arial, sans-serif;
        }

        .deals-value .amount {
            text-decoration: line-through;
        }

        .woocommerce-Price-currencySymbol {
            margin-right: 10px;
        }
    </style>

    <button type="button" class="btn btn-success add_address" data-toggle="modal"
            data-target="#exampleModal">{% trans "Add Address" %}
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Add Address" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputProvince"
                                       style="font-family: Vazir,serif ">{% trans "Province" %}</label>
                                <input type="text" class="form-control border" id="inputProvince">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" style="font-family: Vazir,serif ">{% trans "City" %}</label>
                                <input type="text" class="form-control border" id="inputCity">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputStreet1"
                                       style="font-family: Vazir,serif ">{% trans "Main Street" %}</label>
                                <input type="text" class="form-control border" id="inputStreet1">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputStreet2"
                                       style="font-family: Vazir,serif ">{% trans "Auxiliary Street" %}</label>
                                <input type="text" class="form-control border" id="inputStreet2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAlley" style="font-family: Vazir,serif ">{% trans "Alley" %}</label>
                                <input type="text" class="form-control border" id="inputAlley">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputNo" style="font-family: Vazir,serif ">{% trans "No" %}</label>
                                <input type="text" class="form-control border" id="inputNo">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="add_new_address"
                                style="font-family: Vazir,serif ">{% trans "Create" %}</button>
                    </div>
                </div>
                {#                <div class="modal-footer">#}
                {#                    <button type="button" class="btn btn-success" data-dismiss="modal">Apply#}
                {#                    </button>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                <tr class="row100 head">
                    <th class="cell100 column1" style="font-family: Vazir,serif ">{% trans "City" %}</th>
                    <th class="cell100 column2" style="font-family: Vazir,serif ">{% trans "Main St" %}</th>
                    <th class="cell100 column3" style="font-family: Vazir,serif ">{% trans "Auxiliary St" %}</th>
                    <th class="cell100 column4" style="font-family: Vazir,serif ">{% trans "Alley" %}</th>
                    <th class="cell100 column5" style="font-family: Vazir,serif ">{% trans "No." %}</th>
                    <th class="cell100 column6" style="font-family: Vazir,serif ">{% trans "Delete?" %}</th>
                    <th class="cell100 column7" style="font-family: Vazir,serif ">{% trans "Edit?" %}</th>

                </tr>
                </thead>
            </table>
        </div>
        {% for item in items %}
            <div class="table100-body js-pscroll">
                <table>
                    <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column1">{{ item.city }}</td>
                        <td class="cell100 column2">{{ item.main_st }}</td>
                        <td class="cell100 column3">{{ item.auxiliary_st }}</td>
                        <td class="cell100 column4">{{ item.alley }}</td>
                        <td class="cell100 column5">{{ item.No }}</td>
                        <td class="cell100 column6">
                            <button type="button" class="btn btn-danger delete_address" style="font-family: Vazir,serif"
                                    akbar="{{ item.id }}">{% trans "Delete" %}
                            </button>
                        </td>
                        <td class="cell100 column7">
                            <button type="button" class="btn btn-info " data-toggle="modal"
                                    data-target="#exampleModal{{ item.id }}">{% trans "Edit" %}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="exampleModal{{ item.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans "Edit Address" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>

                            <div class="form-row row-11">
                                <div class="form-group col-md-6 sec-11">
                                    <label for="inputProvince"
                                           style="font-family: Vazir,serif ">{% trans "Province" %}</label>
                                    <input type="text" class="form-control border " value="{{ item.province }}">
                                </div>
                                <div class="form-group col-md-6 sec-12 ">
                                    <label for="inputCity" style="font-family: Vazir,serif ">{% trans "City" %}</label>
                                    <input type="text" class="form-control border" value="{{ item.city }}">
                                </div>
                            </div>
                            <div class="form-row row-12">
                                <div class="form-group col-md-6 sec-11">
                                    <label for="inputStreet1"
                                           style="font-family: Vazir,serif ">{% trans "Main Street" %}</label>
                                    <input type="text" class="form-control border" id="inputStreet3" value="{{ item.main_st }}">
                                </div>
                                <div class="form-group col-md-6 sec-12">
                                    <label for="inputStreet2"
                                           style="font-family: Vazir,serif ">{% trans "Auxiliary Street" %}</label>
                                    <input type="text" class="form-control border" id="inputStreet4" value="{{ item.auxiliary_st }}">
                                </div>
                            </div>
                            <div class="form-row row-13">
                                <div class="form-group col-md-6 sec-11">
                                    <label for="inputAlley"
                                           style="font-family: Vazir,serif ">{% trans "Alley" %}</label>
                                    <input type="text" class="form-control border" id="inputAlley2" value="{{ item.alley }}">
                                </div>
                                <div class="form-group col-md-6 sec-12">
                                    <label for="inputNo" style="font-family: Vazir,serif ">{% trans "No" %}</label>
                                    <input type="text" class="form-control border" id="inputNo2" value="{{ item.No }}">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary edit_address" asqar="{{ item.id }}"
                                    style="font-family: Vazir,serif ">{% trans "Apply" %}</button>
                        </div>
                    </div>
                    {#                <div class="modal-footer">#}
                    {#                    <button type="button" class="btn btn-success" data-dismiss="modal">Apply#}
                    {#                    </button>#}
                    {#                </div>#}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>




{% endblock %}

<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'dashboard/table/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<script>
    $('.js-pscroll').each(function () {
        var ps = new PerfectScrollbar(this);

        $(window).on('resize', function () {
            ps.update();
        })
    });

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    }


    $('#add_new_address').on('click', function () {
        let province = $('#inputProvince').val()
        let city = $('#inputCity').val()
        let main_st = $('#inputStreet1').val()
        let auxiliary_st = $('#inputStreet2').val()
        let alley = $('#inputAlley').val()
        let no = $('#inputNo').val()
        let cook = getCookie('csrftoken')
        var JsonData = {
            'province': province,
            'city': city,
            'main_st': main_st,
            'auxiliary_st': auxiliary_st,
            'alley': alley,
            'No': no,
        }
        $.ajax({
            url: '{% url 'add_address' %}',
            type: 'POST',
            data: JsonData,
            headers: {
                "X-CSRFToken": cook,
            },
            success: function (response) {
                {#console.log(response)#}
                Swal.fire(
                    "{% trans 'Good job!' %}",
                    "{% trans 'You added a new address!' %}",
                    'success'
                )
            },
            error: function (error) {
                {#console.log(error)#}
                Swal.fire({
                    icon: "{% trans 'error' %}",
                    title: "{% trans 'Oops...' %}",
                    text: 'Something went wrong!',
                })
            }
        })
    })


    $('.delete_address').on('click', function () {
        let item_id = $(this).attr('akbar')
        let del = $(this)
        console.log(item_id)
        let cook = getCookie('csrftoken')
        console.log('test', getCookie('csrftoken'))
        $.ajax({
            type: 'DELETE',
            url: '{% url 'del_address' 0 %}'.replace('0', item_id),
            headers: {
                "X-CSRFToken": cook
            },

            success: function (response) {
                console.log(this)
                del.parent().parent().remove()
                Swal.fire(
                    "{% trans 'Good job!' %}",
                    "{% trans 'You deleted an address!' %}",
                    'success'
                )
            },
            error: function (error) {
                console.log(error)
                Swal.fire({
                    icon: "{% trans 'error' %}",
                    title: "{% trans 'Oops...' %}",
                    text: 'Something went wrong!',
                })
            }
        })
    })

    $('.edit_address').on('click', function () {
        let item_id = $(this).attr('asqar')
        let edit = $(this)
        let province=edit.parent().children('div.row-11').children('div.sec-11').children('input').val()
        let city=edit.parent().children('div.row-11').children('div.sec-12').children('input').val()
        let main_st=edit.parent().children('div.row-12').children('div.sec-11').children('input').val()
        let auxi_st=edit.parent().children('div.row-12').children('div.sec-12').children('input').val()
        let alley=edit.parent().children('div.row-13').children('div.sec-11').children('input').val()
        let no=edit.parent().children('div.row-13').children('div.sec-12').children('input').val()

        {#console.log(province)#}
        {#console.log(city)#}
        {#console.log(main_st)#}
        {#console.log(auxi_st)#}
        {#console.log(alley)#}
        {#console.log(auxi_st)#}
        {#console.log(no)#}
        var JsonData = {
            'province': province,
            'city': city,
            'main_st': main_st,
            'auxiliary_st': auxi_st,
            'alley': alley,
            'No': no
        }

        let cook = getCookie('csrftoken')
        console.log('test', getCookie('csrftoken'))
        $.ajax({
            type: 'PATCH',
            data: JsonData,
            url: '{% url 'edit_address' 0 %}'.replace('0', item_id),
            headers: {
                "X-CSRFToken": cook
            },

            success: function (response) {
                console.log(this)
                Swal.fire(
                    "{% trans 'Good job!' %}",
                    "{% trans 'You Edit this address!' %}",
                    'success'
                )
            },
            error: function (error) {
                console.log(error)
                Swal.fire({
                    icon: "{% trans 'error' %}",
                    title: "{% trans 'Oops...' %}",
                    text: 'Something went wrong!',
                })
            }
        })
    })


</script>
<!--===============================================================================================-->
<script src="{% static 'dashboard/table/js/main.js' %}"></script>