{% extends 'base/_base.html' %}
{% load static %}
{% block title %}Home | Shopping{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'mini_carosel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mini_carosel/css/owl.theme.default.min.css' %}">
    {#		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">#}
    <link rel="stylesheet" href="{% static 'mini_carosel/css/style.css' %}">
{% endblock %}
{% block content %}
    <ul id="#adaptive" class="cs-hidden">
        <!--BOX 1-->
        <li class="item-a">
            <!--BOX-->
            <div class="full-slider-box f-slide-1"
                 style="background-image:linear-gradient(rgba(0, 0, 0, 0.13),rgba(0, 0, 0, 0.158)), url({% static 'Home/image.jpeg' %});">

                <div class="slider-text-container">

                    <div class="f-slider-text">
                        <span>Limited Offer</span>
                        <strong>30% OFF <br> In <font>New Product</font></strong>
                        <a href="#" class="f-slider-btn">Shop Now</a>
                    </div>

                </div>
            </div>
        </li>

    </ul>
    <i class="fa fa-sign-in" aria-hidden="false"></i>
    {#    carousel for bottom#}
    <section class="ftco-section" style="padding: 0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4">Latest Product</h2>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        {% for item in last_product %}
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                         style="background-image: url({{ item.image.url }});">
                                        <a href="http://127.0.0.1:8000/product/product_detail/{{ item.id }}"
                                           class="icon d-flex align-items-center justify-content-center">
                                            <span class="ion-ios-search"></span>
                                        </a>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>
                                            <a href="http://127.0.0.1:8000/product/product_detail/{{ item.id }}">{{ item.name }}</a>
                                        </h3>
                                        <span>{{ item.price }} $</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'mini_carosel/js/jquery.min.js' %}"></script>
    <script src="{% static 'mini_carosel/js/popper.js' %}"></script>
    <script src="{% static 'mini_carosel/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mini_carosel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mini_carosel/js/main.js' %}"></script>
{% endblock %}