{% extends 'base/_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Product{% endblock %}
{% block extra_head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cart_item/samplecart.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

{% endblock %}
<style>
    body {
        padding: 0.25rem;
    }

</style>
{% block content %}
    {% if items == 1 %}
        <style>
            * {
                transition: all 0.6s;
            }

            html {
                height: 100%;
            }

            body {
                font-family: 'Lato', sans-serif;
                color: #888;
                margin: 0;
            }

            #main {
                display: table;
                width: 100%;
                height: 100vh;
                text-align: center;
            }

            .fof {
                display: table-cell;
                vertical-align: middle;
            }

            .fof h1 {
                font-size: 50px;
                display: inline-block;
                padding-right: 12px;
                animation: type .5s alternate infinite;
            }

            @keyframes type {
                from {
                    box-shadow: inset -3px 0px 0px #888;
                }
                to {
                    box-shadow: inset -3px 0px 0px transparent;
                }
            }
        </style>
        <div id="main">
            <div class="fof">
                <h1>{% trans "Basket Is Empty" %}</h1>
            </div>
        </div>

    {% else %}
        <h1>Shopping Cart</h1>

        <div class="shopping-cart">

            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>

            {% for item in items %}
                <div class="product">
                    <div class="product-image">
                        <img src="{{ item.product.image.url }}">
                    </div>
                    <div class="product-details">
                        <div class="brand-title">Brand: {{ item.product.brand.name }}</div>
                        <p class="product-description">Product Name: {{ item.product.name }}</p>
                    </div>
                    <div class="product-price">{{ item.product.price }}</div>
                    <div class="product-quantity">
                        <input type="number" class="change_number_product" akbar="{{ item.id }}"
                               asqar="{{ item.product.id }}" value="{{ item.number_item }}" min="1">
                    </div>
                    <div class="product-removal" akbar="{{ item.id }}" asqar="{{ item.product.id }}">
                        <button class="remove-product">
                            Remove
                        </button>
                    </div>
                    <div class="product-line-price">{{ item.product.price }}</div>
                </div>
                <div class="cart_id" style="display: none;" cart_id="{{ item.cart.id }}"></div>
            {% endfor %}
            <div class="totals">
                <div class="totals-item">
                    <label>Subtotal</label>
                    <div class="totals-value" id="cart-subtotal" value="{{ total_price }}">{{ total_price }}</div>
                </div>
                <div class="totals-item">
                    <label>Tax (5%)</label>
                    <div class="totals-value" id="cart-tax">{{ tax }}</div>
                </div>
                <div class="totals-item">
                    <label>Off Code: </label>
                    <div class="totals-value" id="cart-shipping">15.00</div>
                    <input id="off_code1" type="text">
                    <button id="off_code" type="button" class="btn btn-danger">Apply</button>

                </div>
                <div class="totals-item totals-item-total">
                    <label>Grand Total</label>
                    <div class="totals-value" id="cart-total" value="{{ final_price }}">{{ final_price }}</div>
                </div>
            </div>

            <button id="final" class="checkout">Apply Final Change</button>


        </div>

    {% endif %}

    <script>


        {#java script to handle front price#}
        /* Set rates + misc */
        var taxRate = 0.05;
        var shippingRate = 15.0;
        var fadeTime = 300;

        function removeItem(removeButton) {
            console.log('mashti hazf shod')
            /* Remove row from DOM and recalc cart total */
            let productRow = $(removeButton).parent().parent();
            productRow.slideUp(fadeTime, function () {
                productRow.remove();
                recalculateCart();
            });
        }

        /* Assign actions */
        $(".product-quantity input").change(function () {
            updateQuantity(this);
        });


        /* Recalculate cart */
        function recalculateCart() {
            var subtotal = 0;

            /* Sum up row totals */
            $(".product").each(function () {
                subtotal += parseFloat($(this).children(".product-line-price").text());
            });

            /* Calculate totals */
            var tax = subtotal * taxRate;
            var shipping = subtotal > 0 ? shippingRate : 0;
            var total = subtotal + tax - shipping;

            /* Update totals display */
            $(".totals-value").fadeOut(fadeTime, function () {
                $("#cart-subtotal").html(subtotal.toFixed(2));
                $("#cart-subtotal").attr('value', subtotal);
                $("#cart-tax").html(tax.toFixed(2));
                $("#cart-shipping").html(shipping.toFixed(2));
                $("#cart-total").html(total.toFixed(2));
                $("#cart-total").attr('value', total);
                if (total == 0) {
                    $(".checkout").fadeOut(fadeTime);
                } else {
                    $(".checkout").fadeIn(fadeTime);
                }
                $(".totals-value").fadeIn(fadeTime);
            });
        }

        /* Update quantity */
        function updateQuantity(quantityInput) {
            /* Calculate line price */
            var productRow = $(quantityInput).parent().parent();
            var price = parseFloat(productRow.children(".product-price").text());
            var quantity = $(quantityInput).val();
            var linePrice = price * quantity;

            /* Update line price display and recalc cart totals */
            productRow.children(".product-line-price").each(function () {
                $(this).fadeOut(fadeTime, function () {
                    $(this).text(linePrice.toFixed(2));
                    recalculateCart();
                    $(this).fadeIn(fadeTime);
                });
            });
        }

        /* Remove item from cart */
        $('#off_code').click(function () {
            var off = $('#off_code1').val()
            var cart_id = $('.cart_id').attr('cart_id')
            console.log(off)
            console.log((cart_id))
            let JsonData = {'off_code': off};
            $.ajax({
                type: 'PATCH',
                url: '{% url 'cart_off_code' 0 %}'.replace('0', cart_id),
                data: JsonData,
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response)
                    for (let resp of response) {
                        console.log(resp.code)
                        if (resp.code === off) {
                            console.log('yesss')
                            $("#cart-shipping").html(shipping.toFixed(2));

                        }
                    }
                }
                ,
                error: function (error) {
                    console.log(error)
                    alert('in chieeeeeeeeeeeeeee')
                }

            })
        })


        {#to set final price and total price in data base cart view: CartUpdateAPI #}
        $('#final').on('click', function () {
            var total_price = $("#cart-subtotal").attr('value')
            var final_price = $("#cart-total").attr('value')
            var cart_id = $('.cart_id').attr('cart_id')
            console.log(total_price)
            console.log(final_price)
            let JsonData1 = {'total_price': total_price, 'final_price': final_price};
            $.ajax({
                type: 'PATCH',
                url: 'http://127.0.0.1:8000/order/cartdetail/PK/'.replace('PK', cart_id),
                {#url: '{% url 'cartdetail' 0 %}'.replace('0', cart_id),#}
                data: JsonData1,
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response)

                },
                error: function (error) {
                    console.log(error)
                }
            })
        })


        {#remove item from data base and from front, view:CartItemDetail#}

        $('.remove-product').on('click', function () {
            let item_id = $(this).parent().attr('akbar')
            let product_id = $(this).parent().attr('asqar')
            var th_is = $(this)
            {#console.log(th_is)#}
            $.ajax({
                type: 'DELETE',
                url: "{% url 'cartitem-list' %}" + `${item_id}`,
                data: {'product_id': product_id},
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response) {

                    removeItem(th_is);
                },
                error: function (error) {
                    {#console.log(error)#}
                }
            })
        })

        $('.change_number_product').change(function () {
            let number_item = $(this).val()
            console.log(number_item)
            let item_id = $(this).attr('akbar')
            console.log(item_id)
            let product_id = $(this).attr('asqar')
            console.log(product_id)

            $.ajax({
                type: 'PATCH',
                url: "{% url 'cartitem-list' %}" + `${item_id}`,
                data: {'product_id': product_id},
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response) {

                },
                error: function (error) {
                    {#console.log(error)#}
                }
            })
        })


    </script>
{% endblock %}